<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microsoft Identity Python Web App: Index</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>

</head>
<body>
    <h1>Contabilidad de tiempos</h1>
    <h2>Bienvenido {{ user.get("name") }}!</h2>

    <ul>
      <li><a onclick="LimpioComoUnBebe()">Nuevo registro</a></li>


    

    {% if config.get("B2C_PROFILE_AUTHORITY") %}
      <li><a href='{{config.get("B2C_PROFILE_AUTHORITY")}}?client_id={{config.get("CLIENT_ID")}}'>Edit Profile</a></li>
    {% endif %}
    <li><a href="/ver_registros">Registros en pausa</a></li>

    <li><a href="/logout">Desconectarse</a></li>

    
    </ul>

    <hr>
    <footer style="text-align: right">Powered by Identity Web {{ version }}</footer>
    <script>
      function LimpioComoUnBebe(){
            localStorage.removeItem('tiempo');  // Limpiar el tiempo guardado en localStorage
            tiempo = 0;  // Reiniciar el valor del cronómetro
            window.location.href = "/timer"; 

        }
    </script>
</body>
</html>

